.link {
  font-size: 20px;
  color: inherit;
}

.link:hover {
  color: #0000ff;
  text-decoration: underline;
}

.activeLink {
  color: #0000ff;
}

.button {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: transparent;
  outline: none;
  border: 1px solid #706d6d8c;
  border-radius: 5px;
  margin-top: 20px;
}
